.basicdetail table {
    width: 100%;
    border-collapse: collapse;
    background: linear-gradient(to bottom, #094E8F 30%, #97c7f3 100%);
}
.basicdetail table, th, td {
    border: 1px solid #ddd;
}
.basicdetail th, td {
    padding: 12px;
    text-align: left;
}
.basicdetail tr:nth-child(even) {
    background-color: white;
    color: #094E8F;
}
.basicdetail tr:nth-child(odd) {
    color: white;
}

.authorizedPerson table {
    width: 100%;
    border-collapse: collapse;
}
.authorizedPersontable, th, td {
    border: 1px solid #ddd;
}
.authorizedPerson th, td {
    padding: 12px;
    text-align: left;
}

.authorizedPerson h5{
    text-align: center;
    color: white;
    background-color: #006DFF;
}

.authorizedPerson thead{
    background: linear-gradient(to right, #094E8F 30%, #031629 100%);
    color: white;
}

.authorizedPerson .firstcol{
    background: #A3C9FC;
}